.list {
    padding: 15px;
}

.list__items {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #eee;
    padding: 10px;
}

.list__text--done {
    text-decoration: line-through;
}

.list__button--remove {
    height: 30px;
    width: 30px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.list__button--done {
    height: 30px;
    width: 30px;
    color: white;
    background-color: green;
    border: none;
}