.section {
    background-color: white;
    margin: 20px 0;
    box-shadow: 0 0 7px gray;
}

.section__header {
    border-bottom: 1px solid #dfd1d1ee;
    padding: 20px 20px;
    font-size: 20px;
    margin: 1px;
}